<div class="hero">
  <div class="container">
    <nav>
      <div class="profile">
        <h3>Support</h3>
      </div>
      <ul class="nav nav-pills">
        <li role="presentation" class="nav-item"><a class="nav-link"routerLink="/landingPage">Home</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link"routerLink="/budget">New Budget</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/creditRepair">New Letter</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/home">Log out</a></li>
      </ul>
    </nav>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Password Reset Link</h5>
            <p class="card-text">Forgot your password? No worries! Let us send you a password reset link.</p>
            <a href="#" class="btn btn-primary">Get Link</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Account Info</h5>
              <p class="card-text">Locate account information.</p>
              <a href="#" class="btn btn-primary">See your Account</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Other Support</h5>
              <p class="card-text">If you need to delete your account, click here.</p>
              <a href="#" class="btn btn-primary">Delete your Account</a>
            </div>
          </div>
        </div>
      </div>
