<div class="hero">
  <div class="container">
    <nav>
      <div class="profile">
        <h3>Let's create a new letter!</h3>
      </div>
      <ul class="nav nav-pills">
        <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/landingPage">Home</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/allBudgets">View Budgets</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/allLetters">View Letters</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/">Log out</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Letter Name</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Letter Name">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Letter Summary</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>


<a routerLink="/creditRepair">Next Page</a>

