<div class="hero">
  <div class="container">
    <nav>
      <div class="profile">
        <h3>Letters</h3>
      </div>
      <ul class="nav nav-pills">
        <li role="presentation" class="nav-item"><a routerLink ="/landingPage">Home</a></li>
        <li role="presentation" class="nav-item"><a routerLink = "/budgetTitlePage">New Budget</a></li>
        <li role="presentation" class="nav-item"><a routerLink ="/creditRepair">New Letter</a></li>
        <li role="presentation" class="nav-item"><a routerLink ="/">Log out</a></li>
      </ul>
    </nav>
    <div class="card" *ngFor="let letter of letters | async">
      <h5 class="card-header">Letter Date Sent: {{letter.dateSent}}</h5>
      <div class="card-body">
        <h5 class="card-title">Letter Type: {{ letter.type}}</h5>
        <p class="card-text">{{ letter.letterSummary }}</p>
        <a routerLink="/calendar" class="btn btn-primary">View Letter in Calendar</a>
      </div>
    </div>
    </div>
