<div class="hero">
  <div class="container">
    <nav>
      <div class="profile">
        <h3>Letters</h3>
      </div>
      <ul class="nav nav-pills">
        <li role="presentation" class="nav-item"><a class="nav-link"href="#">Home</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link"href="#">New Budget</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#">New Letter</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#">Log out</a></li>
      </ul>
    </nav>
    <div class="card">
      <h5 class="card-header">Letter 1</h5>
      <div class="card-body">
        <h5 class="card-title">Goodwill Letter</h5>
        <p class="card-text">Letter summary...</p>
        <a href="#" class="btn btn-primary">View Letter</a>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Letter 2</h5>
      <div class="card-body">
        <h5 class="card-title">Dispute Letter</h5>
        <p class="card-text">Letter summary...</p>
        <a href="#" class="btn btn-primary">View Letter</a>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Letter 3</h5>
      <div class="card-body">
        <h5 class="card-title">Inquiry Removal Letter</h5>
        <p class="card-text">Letter summary...</p>
        <a href="#" class="btn btn-primary">View Letter</a>
      </div>
    </div>
