<div class="hero">
  <div class="container">
    <nav>
      <div class="profile">
        <h3>Letters</h3>
      </div>
      <ul class="nav nav-pills">
        <li role="presentation" class="nav-item"><a class="nav-link"href="#">Home</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link"href="#">New Budget</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#">New Letter</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#">Log out</a></li>
      </ul>
    </nav>
    <div class="card" *ngFor="let letter of allLetters">
      <h5 class="card-header">Letter Name: {{letter.name}}</h5>
      <div class="card-body">
        <h5 class="card-title">Letter Type: {{ letter.type }}</h5>
        <p class="card-text">{{ letter.letterSummary }}</p>
        <a routerLink="/calendar" class="btn btn-primary">View Letter in Calendar</a>
      </div>
    </div>
    </div>
