<div class="hero">
  <div class="container">
    <nav>
      <div class="profile">
        <h3>Let's create a new letter!</h3>
      </div>
      <ul class="nav nav-pills">
        <li role="presentation" class="nav-item"><a class="nav-link" href="#">Home</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#">View Budgets</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#">View Letters</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#">Log out</a></li>
      </ul>
    </nav>

    <div class="input-group">
      <div class="input-group">
        <span class="input-group-text">Company Name & Number</span>
        <input type="text" aria-label="Company name" class="form-control">
        <input type="text" aria-label="Company number" class="form-control">
      </div>

      <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
        <option selected>Type</option>
        <option value="1">Dispute</option>
        <option value="2">Verification</option>
        <option value="3">Goodwill</option>
        <option value="3">Pay for Delete</option>
        <option value="3">Inquiry Removal</option>
      </select>
      <!-- <button class="btn btn-outline-secondary" type="button">Button</button> -->
    </div>
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Date Letter Sent">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Date Response Received">
        </div>
      </div>
    </form>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Letter Summary</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-primary">Add to Letters</button>
  </div>
</div>
