.hero {
    background-image: url("../../assets/images/rupixen-com-Uxd9_1cJ3Xs-unsplash.jpg");
    background-position: center;
    background-size: 125%;
    width: 100vw;
    height: 100vh;
    color: white;
  }
  
  h3{
    color: white;
  }