.container{
  background-image: url("../../assets/images/jason-dent-3wPJxh-piRw-unsplash.jpg");
  background-position: center;
  background-size: 175%;
  height: 100vh;
  width: 100vw;
}

.hero{
  max-width: 400px;
  background-color: rgba(0,0,0,0.75);
  margin: auto;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 50px;
  border-radius: 10px;
}

body{
  background-image: url("../../assets/images/jason-dent-3wPJxh-piRw-unsplash.jpg");
  background-position: center;
  background-size: 175%;
  height: 100vh;
  width: 100vw;
}
.signUp{
  color: white;
  text-align: center;
}

.card{
  margin-top: 70px;
  margin-left: 100px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

.card-img-top{
  height: 100px;
  width: 100px;
  padding-top: 20px;
  margin: auto;
}

.form-group{
  padding: 5px 2px;
}

.btn-primary{
  background-color: navy;
  color: white;
  border: none;
  margin: 60px;
}

.terms{
  text-align: center;
}

.background{
  height: 400px;
}

.description{
  color: white;
  text-align: center;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
