<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container">
  <div class="hero">
    <div class="header">
      <h1 class="signUp">Sign up Free!</h1>
      <h6 class="description">The free budget and credit repair letter tracker</h6>
    </div>
    <div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="" alt="Authentication picture">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group">
            <label for="exampleInputName">First Name</label>
            <input type="text" class="form-control" id="exampleInputName" placeholder="First Name" ngModel name="firstname"
              required>
          </div>
          <div class="form-group">
            <label for="exampleInputName">Last Name</label>
            <input type="text" class="form-control" id="exampleInputName" placeholder="Last Name" ngModel name="lastname"
              required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter email" ngModel name="email" required email #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email.</span>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ngModel
              name="password" required>
          </div>
          <div class="terms">
            <a routerLink="/terms">Terms of Service</a>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
        </form>
        <button (click)="login()">SignUp with Google</button>
        <a routerLink="/">Back</a>
      </div>
    </div>
  </div>
</div>