<div class="hero">
  <div class="container">
    <nav>
      <div class="profile">
        <h3>Single Budget View</h3>
      </div>
      <ul class="nav nav-pills">
        <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/landingPage">Home</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/budget">New Budget</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/allLetters">View Letters</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/home">Log out</a></li>
      </ul>
    </nav>
    <div class="budgetInfo">
    <p>
      Budget Name: {{ budget?.name }}
      <br>
      Budget Description: {{ budget?.description }}
      <br>
      Budget Items: 
    </p>
  </div>

    <div *ngIf="budget && budget.budgetItems && budget.budgetItems.length > 0" >
      <div *ngFor="let item of budget.budgetItems">
        {{item.companyName}} {{item.type}}
      </div>
    </div>
    <p class="totals">
      Total Income for budget: {{ this.income }}
      <br>
      Total Expenses for budget: {{ this.expense }}
      <br>

      Difference: {{this.total}}
    </p>
    <div class= "lists">
    <ul>These are your expenses for this budget:
      <li *ngFor="let expense of expenseList">
         {{ expense.companyName }} {{ expense.amount }}
      </li>
    </ul>

    <ul>This is your income for this budget:
      <li *ngFor="let income of incomeList">
         {{ income.companyName }} {{income.amount }} 
      </li>
    </ul>
  </div>

  </div>
</div>