.hero{
  background-image: url("../../assets/images/rupixen-com-Uxd9_1cJ3Xs-unsplash.jpg");
  background-position: center;
  background-size: 125%;
  width: 100vw;
  height: 100vh;
}

.main-nav {
  margin-bottom: 30px;

  h3 {
    margin-top: 10px;
  }
}
.user{
  height: 100px;
  width: 100px;
}

.nav-pills{
  float: right;
}

h3 {
  color: white;
}
.nav-link{
  color: white;

  &:hover {
    color: black;
  }
}

.card{
  background-color: white;
}







