<div class="calendar">
  <header class="mainHead">
    <h1>February 2021</h1>
  </header>

  <!-- days -->
  <ul class="start">
    <li class="days">Mon</li>
    <li class="days">Tue</li>
    <li class="days">Wed</li>
    <li class="days">Thu</li>
    <li class="days">Fri</li>
    <li class="days">Sat</li>
    <li class="days">Sun</li>
  </ul>

  <!-- row 31-6 -->
  <ul class="start">
    <li class="column light">31</li>
    <li class="column light"><i class="income"></i>1</li>
    <li class="column light">2</li>
    <li class="column light">3</li>
    <li class="column light">4</li>
    <li class="column weekend">5</li>
    <li class="column weekend">6</li>
  </ul>

  <!-- row 7-13 -->
  <ul class="start">
    <li class="column">7</li>
    <li class="column">8</li>
    <li class="column">9</li>
    <li class="column">10</li>
    <li class="column"><i class="expense"></i>11</li>
    <li class="column weekend">12</li>
    <li class="column weekend">13</li>
  </ul>

  <!-- row 14-20 -->
  <ul class="start">
    <li class="column">14</li>
    <li class="column">15</li>
    <li class="column"><i class="savings"></i>16</li>
    <li class="column">17</li>
    <li class="column">18</li>
    <li class="column weekend">19</li>
    <li class="column weekend">20</li>
  </ul>

  <!-- row 21-27 -->
  <ul class="start">
    <li class="column">21</li>
    <li class="column">22</li>
    <li class="column">23</li>
    <li class="column">24</li>
    <li class="column">25</li>
    <li class="column weekend">26</li>
    <li class="column weekend">27</li>
  </ul>

  <!-- row 28-6 -->
  <ul class="start">
    <li class="column">28</li>
    <li class="column">1</li>
    <li class="column">2</li>
    <li class="column">3</li>
    <li class="column"><i class="income"></i>4</li>
    <li class="column light weekend">5</li>
    <li class="column light weekend">6</li>
  </ul>

  <!-- row 7-13 -->
  <ul class="start">
    <li class="column light">7</li>
    <li class="column light">8</li>
    <li class="column light">9</li>
    <li class="column light">10</li>
    <li class="column light">11</li>
    <li class="column light weekend">12</li>
    <li class="column light weekend">13</li>
  </ul>
</div>
