body{
  background-image: url("../../assets/images/ales-nesetril-ex_p4AaBxbs-unsplash.jpg");
  background-position: center;
  background-size: 175%;
  height: 100vh;
  width: 100vw;
}
.navbar-header{
  display: flex;
 flex-direction: row;

}
.nav{
  text-align: right;
}

h1{
  color: white;
}

.body{
  text-align: center;
}

.nav-link {
  color: white;
}
.waiting{
  color: white;
  text-align: center;
}
.body-info{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -30px;
  text-align: center;
}
