<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
<nav>
  <div class="navbar-header">
    <h1 class="logo">this.Budget</h1>
    <ul class="nav nav-pills mr-auto">
      <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/signIn">Log In</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/terms">Terms</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/support">Support</a></li>
    </ul>
  </div>
</nav>

<div class="body-info">
  <h1 class="body">Build your budget. Send your letters. The only budget you need is this.Budget</h1>
  <h6 class="waiting">What are you waiting on? Sign up today!</h6>
  <button type="button" class="btn btn-outline-success"><a routerLink="/signUp">Get Started</a></button>
</div>
</body>
