<div class="hero">
  <div class="container">
    <nav>
      <div class="profile">
        <h3>Let's create a new budget!</h3>
      </div>
      <ul class="nav nav-pills">
        <li role="presentation" class="nav-item"><a class="nav-link"routerLink="/landingPage">Home</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link"routerLink="/budgetList">View Budgets</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/allLetters">View Letters</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/home">Log out</a></li>
      </ul>
    </nav>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Budget Name</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Budget Name">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Budget Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <a routerLink="/budget"><button class="btn btn-default">Next</button></a>
   </div>
  </div>


