<div class="hero">
  <div class="container">
    <nav>
      <div class="profile">
        <h3>Let's create a new budget!</h3>
      </div>
      <ul class="nav nav-pills">
        <li role="presentation" class="nav-item"><a class="nav-link"routerLink="/landingPage">Home</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link"routerLink="/budgetList">View Budgets</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/allLetters">View Letters</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/home">Log out</a></li>
      </ul>
    </nav>

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Budget Name</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Budget Name" ngModel name="budgetName" required>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Budget Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ngModel name="budgetDescription" required></textarea>
    </div>
      <button class="btn btn-default" type="submit" (click)="navigateToNextPage()">Next</button>
    </form>
   </div>
  </div>


