<div class="hero">
  <div class="container">
    <nav>
      <div class="profile">
        <h3>Budgets</h3>
      </div>
      <ul class="nav nav-pills">
        <li role="presentation" class="nav-item"><a class="nav-link"routerLink="/landingPage">Home</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link"routerLink="/budgetTitle">New Budget</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/allLetters">View Letters</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/home">Log out</a></li>
      </ul>
    </nav>

    <div class="card" *ngFor="let budget of budgets | async">
      <h5 class="card-header">Budget Name: {{budget.name}}</h5>
      <div class="card-body">
        <h5 class="card-title">Budget Description:{{budget.description}}</h5>
        <p class="card-text">Budget Items:</p>
        <ul *ngFor="let budgetItem of budget.budgetItems">
          <li>
          {{budgetItem.companyName}}
          </li>
          <li>
            {{budgetItem.date}}
          </li>
          <li>
            {{budgetItem.type}}
          </li>
          <li>
            ${{budgetItem.amount}}
          </li>
          <li>
            {{budgetItem.notes}}
          </li>
        </ul>
        <button class="btn btn-primary" (click)="onViewBudget(budget)">View Budget</button>
      </div>
    </div>
  </div>
</div>

